@import 'open-color';

.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.bio {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  color: $oc-gray-6;

  animation: show .32s ease-in-out backwards;
}

.link {
  padding: .5rem 1rem;
  display: flex;
  gap: .5rem;
}

.loader {
  display: flex;
  align-items: center;
  gap: .5rem;

  color: $oc-gray-6;

  animation: show .12s ease-in-out backwards;
}

.icon {
  color: $oc-indigo-2;
}

@keyframes show {
  from {
    opacity: 0;
    transform: translateY(-.3rem);
  }
}
