@import 'open-color';

.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.bio {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  color: $oc-gray-6;

  animation: show .12s ease-in-out backwards;
}

.link {
  padding: .5rem 1rem;
  display: flex;
  gap: .5rem;
}

@keyframes show {
  from {
    opacity: 0;
  }
}
