@import 'open-color';

:root {
  font-size: 16px;
}

html {
  padding: 0;
  margin: 0;
  width: 100%;
}

:root {
}

body {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;

  font-size: 1rem;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  line-height: 1;

  color: $oc-gray-7;
  background: $oc-indigo-0;

  transition: background .2s ease-in-out;
}

a {
  text-decoration: none;
  color: unset;
}
